.navbar {
    position: fixed;
    top: 0;
    list-style: none;
    background-color: #0b213c;
    overflow: hidden;
    margin: 0;
    padding: 0;
    width: 100%;
    z-index: 100;
}

.navbar li {
    float: right;
}

.navbar li a {
    display: block;
    color: white;
    text-align: right;
    padding: 14px 16px;
    text-decoration: none;
}

.banner {

    width: 100%;
    color: white;
    background-color: #0b213c;
    padding-bottom: 2%;
    padding-top: 30px;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    border-radius: 3%;

}

.tagline {
    color: #ffdf6c;
}

img {
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;

}


#main {
    font-family: 'Golos Text', sans-serif;
    width: 100%;

}

h2,
h3,
h4 {
    text-align: center;
    text-transform: uppercase;
    font-family: 'Golos Text', sans-serif;
}

h2 {
    font-size: 60px;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Golos Text', sans-serif;
}

#about {
    padding: 5%;

}

.top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #333;
    color: #fff;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}

.about-article {
    display: flex;
    z-index: -1;
    margin-top: 10px;
    margin-bottom: 30px;
    background-image: url("../images/tech.jpg");
    background-position: 90% 45%;
    background-repeat: no-repeat;
    font-family: 'Golos Text', 'Open Sans', sans-serif;
}

.article-text {

    position: relative;
    right: 600px;
    top: 10px;
    bottom: 400px;
    width: 400px;
    height: 450px;
    background-color: #f7dc6f;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.8);
    z-index: 1;
    line-height: 18pt;
    margin-left: 800px;
    padding: 30px;
}

#skills {
    padding: 5%;
}

.boxes {
    display: flex;
    align-items: center;
}

.web-dev,
.python,
.java {
    flex: 1;
    height: 300px;
    border-radius: 5%;
    margin: 40px;
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.8);
}

.web-dev {
    background: url("../images/webdev.jpg") no-repeat center;
    background-size: cover;

}

.python {
    background: url("../images/python.jpg") no-repeat center;
    background-size: cover;
}

.java {
    background: url("../images/java.jpg") no-repeat center;
    background-size: cover;
}

#projects {
    padding: 5%;
}

.external-links {
    text-align: center;
}


.boxes a {
    display: flex;
    align-items: center;
    width: 50px;
    height: 50px;
    margin: 0 auto;
}

.boxes a.github-logo img {
    max-width: 100px;
    height: 100%;
    margin: 0 auto;
    padding-right: 1px;
}

.boxes a.medium-logo img {
    max-width: 100px;
    height: 75%;
    margin: 0 auto;
    padding: 10px;
    
}

footer {
    margin-top: 20px;
    text-align: center;
    font-family: 'Golos Text', sans-serif;
}