.navbar {
    position: fixed;
    top: 0;
    list-style: none;
    background-color: #0b213c;
    overflow: hidden;
    margin: 0;
    padding: 0;
    width: 100%;
    z-index: 100;
}

.navbar li {
    float: right;
}

.navbar li a {
    display: block;
    color: white;
    text-align: right;
    padding: 14px 16px;
    text-decoration: none;
}

.banner {

    width: 100%;
    height: 600px;
    color: white;
    background-image: url("../images/spaceship.jpg");
    background-color: #0b213c;
    background-position: center;
    background-size: cover;
    overflow: hidden;
    padding-bottom: 2%;
    padding-top: 30px;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    border-radius: 3%;
    text-shadow: 0 3px 3px rgba(0, 0, 0, 0.8);

}

.hero-add {
    margin-top: 240px;
    font-size: 30px;
}

.tagline {
    color: black;
    background-color: rgb(236, 144, 24);
}

body {
    margin: 0;
}

#main {
    font-family: 'Golos Text', sans-serif;

}

h2,
h3,
h4 {
    text-align: center;
    text-transform: uppercase;
    font-family: 'Golos Text', sans-serif;
}

h2 {
    font-size: 60px;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Golos Text', sans-serif;
}

#about {
    padding: 5%;

}


.top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #333;
    color: #fff;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    z-index: 5;
}

.about-container {
    display: flex;
    max-width: 100%;
}

.profile-box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-left: 80px;
}

img {
    position: relative;
    border-radius: 5%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.article-box {
    margin-left: 40px;
    top: 10px;
    bottom: 400px;
    width: 400px;
    min-height: 450px;
    background-color: #ffdf6c;
    max-height: 400px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.8);
    z-index: 2;
    padding: 30px;
}

.article-text {
    line-height: 18pt;
    margin-top: 20px;
    margin-bottom: 0px;
}

.image-box {
    display: flex;
    width: 600px;
    max-height: 350px;
    background-image: url("../images/tech.jpg");
    background-size: cover;
    background-position: center;
    margin-top: 100px;
}

#skills {
    padding: 5%;
}

.boxes {
    display: flex;
    align-items: center;
}


.web-dev,
.python,
.java {
    flex: 1;
    height: 300px;
    border-radius: 5%;
    margin: 40px;
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.8);
}

.web-dev {
    background: url("../images/webdev.jpg") no-repeat center;
    background-size: cover;

}

.python {
    background: url("../images/python.jpg") no-repeat center;
    background-size: cover;
}

.java {
    background: url("../images/java.jpg") no-repeat center;
    background-size: cover;
}

#projects {
    padding: 5%;
}

.projects-container {
    display: flex;
    max-width: 100%;
    left: 30px;
    left: 50px;
}

.first-project,
.second-project,
.third-project,
.fourth-project{
    margin: 40px;
    padding: 30px;
    border: 1px solid #2ecc71;
    max-width: 100%;

}


#contact {
    padding: 5%;
}

.external-links {
    text-align: center;
    padding: 40px;
}

.top-right {
    margin: -215px auto 0px 40px;
}

.link-boxes a {
    display: flex;
    align-items: center;
    width: 30px;
    height: 50px;
    margin: 80px auto 0px auto;
}

.link-boxes a.github-logo img {
    max-width: 120px;
    max-height: 100px;
    left: 20px;
}

.link-boxes a.medium-logo img {
    max-width: 160px;
    max-height: 130px;
    margin: 0 0 0 -35px;
    padding: 10px;
    left: 20px;
}

.link-boxes a.medium-logo img:hover,
.link-boxes a.github-logo img:hover {
    transform: scale(1.2);
}

.form-container {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.contact-box {
    max-width: 850px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    text-align: center;
    box-shadow: 0px 0px 19px 5px rgba(0, 0, 0, 0.19);
    border-radius: 3px;
    background-color: rgb(255, 223, 0, 0.5);
    margin-top: 20px;
    padding: 30px;

}

.left {
    background-size: cover;
    height: 100%;
    margin-left: 20px;
}

.right {
    right: 50px;
}

.field {
    width: 100%;
    border: 2px solid rgba(0, 0, 0, 0);
    outline: none;
    background-color: white;
    padding: 0.5rem 1rem;
    font-size: 1.1rem;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 22px;
    margin-top: 10px;
    transition: .3s;
}

.field:hover {
    background-color: rgba(0, 0, 0, 0.1);
}


textarea {
    min-height: 150px;
}

.button {
    width: 80px;
    padding: 10px;
    background-color: #2ecc71;
    color: #fff;
    font-size: 1.1rem;
    border: none;
    border-radius: 5%;
    outline: none;
    cursor: pointer;
    transition: .3s;
    margin-bottom: 10px;
}

.button:hover {
    background-color: #27ae60;
}

footer {
    margin-top: 20px;
    text-align: center;
    font-family: 'Golos Text', sans-serif;
    background-color: #0b213c;
    color: white;
    height: 60px;
    padding-top: 25px;
}